* {
  margin: 0px
}

.ui.input > input {
  background-color: rgba(30, 113, 128, 0.76) !important;
  /* background-color: rgba(33, 128, 30, 0.76) !important; */
  border-color: white !important;
  color: white !important;
}

.ui.icon.input > i.icon:not(.link) {
  color: rgba(255, 255, 255, 1) !important;
}